<%= form_with(model: door, local: true) do |form| %>
  <% if door.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(door.errors.count, "error") %> prohibited this door from being saved:</h2>

      <ul>
        <% door.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :locked_at %>
    <%= form.datetime_select :locked_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
